# Introduction

Bienvenue dans le monde merveilleux du Python. Ce livret a pour but de regrouper les différentes notions que vous avez pu voir au cours de ce stage en un seul endroit, afin que vous puissiez y accéder facilement en cas de nécessité. Ainsi, chaque page résumera et approfondira un concept en particulier. Bonne lecture !

# Notions élémentaires

Tout au long de ce document, tu remarqueras peut-être des phrases précédées par un #. Il s'agit de **commentaires**. Ils n'ont aucun impact sur l'exécution du code, mais permettent d'apporter des précisions au lecteur.

## Nombres

Ils peuvent être de plusieurs types différents :

- **int**, qui représente les nombres entiers, comme 42 ou 1337
- **float**, qui représente les nombres décimaux, comme 3.14 ou 0.33333333333

Tu peux vérifier le type de cette manière:

In [1]:
type(42)

int

In [2]:
type(3.14)

float

Sans surprise, il est possible d'effectuer des opérations sur ces nombres ! C'est très proche de ce que tu as pu voir en mathématiques.

In [3]:
6 + 4

10

In [4]:
6 * 7

42

In [5]:
50 - 10

40

In [6]:
5 / 3

1.6666666666666667

In [7]:
35 // 2  # Cet opérateur de division te donne la partie entière

17

In [8]:
10 % 3  # Cet opérateur est le modulo, qui donne le reste de la division euclidienne

1

In [9]:
50 * (10 + 9) * 3  # Les parenthèses permettent de modifier les priorités

2850

## Chaînes de caractères

Les chaînes de caractères peuvent être créés de plusieurs manières :

In [10]:
'Mon nom est Python, mais je ne mords pas !'

'Mon nom est Python, mais je ne mords pas !'

In [11]:
"Mon nom est Python, mais je ne mords pas !"

'Mon nom est Python, mais je ne mords pas !'

Il est facile d'en créer à partir d'autres chaînes de caractères :

In [12]:
"bla" * 5

'blablablablabla'

In [13]:
"Croyez-moi, je ne suis pas venimeux, " + "je suis même très amical !"

'Croyez-moi, je ne suis pas venimeux, je suis même très amical !'

In [14]:
"JE NE CRIE PAS".lower()

'je ne crie pas'

In [15]:
"D'accord, je vais monter le son !".upper()

"D'ACCORD, JE VAIS MONTER LE SON !"

Il arrive parfois que l'on ait besoin de récupérer la longueur d'une chaîne. L'exemple qui suit te montre comment faire. N'oublie pas, les espaces sont aussi pris en compte à l'intérieur d'une chaîne. Si la chaîne est vide, len te donnera 0.

In [16]:
len("Je suis le roi du monde !")

25

A chaque caractère est associé un index, c'est-à-dire une valeur qui représente son emplacement dans la chaîne. Le premier élément a toujours pour index 0. Pour accéder à un caractère particulier :

In [17]:
"Coucou !"[0]  # renvoie le premier élément

'C'

In [18]:
"Coucou !"[-1]  # parcourt la chaîne à partir de la fin

'!'

In [19]:
"Coucou !"[5]

'u'

Parfois, on peut avoir besoin de supprimer des espaces en trop au début ou à la fin d'une chaîne de caractères. Pour nous aider, on peut faire appel à :

In [20]:
"        Il y a bien trop d'espaces ici !          ".strip()  # supprime les espaces en trop à gauche et à droite

"Il y a bien trop d'espaces ici !"

In [21]:
"        C'est bien aéré        ".lstrip()  #supprime les espaces en trop à gauche

"C'est bien aéré        "

In [22]:
"   Attention, ils arrivent !        ".rstrip()  # supprime les espaces en trop à droite

'   Attention, ils arrivent !'

## Comparaisons

Lorsqu'on a besoin de comparer deux valeurs, on utilise des opérateurs de comparaisons. Ils peuvent renvoyer deux valeurs opposées : True ou False.

In [23]:
7845 == 7889  # égalité

False

In [24]:
1500 != 403  # inégalité

True

In [25]:
1500 < 8000  # inférieur strict

True

In [26]:
1500 <= 1500  # inférieur ou égal

True

In [27]:
60 > 70  # supérieur strict

False

In [28]:
60 >= 50  # supérieur ou égal

True

Cela fonctionne aussi sur les chaînes de caractères ! Essayons :

In [29]:
"Chocolat" > "Chocolat"

False

In [30]:
"Chocolat" >= "Chocolat"

True

Parfois, il est utile de combiner ces conditions. Par exemple, si on veut savoir si une valeur est comprise dans un intervalle, on peut procéder comme suit:

In [31]:
1 < 2 and 2 < 3  # and est l'opérateur ET LOGIQUE

True

Dans le cas de l'opérateur **and**, tu peux partir du principe que si l'une des parties est False, alors le résultat est False.

In [32]:
1 < 2 and 2 > 3

False

In [33]:
True and False

False

In [34]:
True and True

True

Il existe un autre opérateur : **or**. Pour lui, tu peux partir du principe que si au moins l'une des parties est True, alors le résultat est True.

In [35]:
True or False  # or est l'opérateur OU LOGIQUE

True

In [36]:
False or False

False

## Variables

Les variables permettent de stocker des valeurs de n'importe quel type. On peut afficher leur contenu en utilisant **print**.

In [37]:
nombre = 700
print(nombre)

700

In [38]:
message = "Je suis un message qui sera affiché !"
print(message)

Je suis un message qui sera affiché !

In [39]:
condition = 2 < 3
print(condition)

True

Toutes les opérations sur les nombres, chaînes de caractères ou conditions sont conservées.

In [40]:
a = 150
b = 200
c = a + b
print(c)

350

Si tu veux que ton opération modifie ta variable, tu peux procéder de cette manière :

In [41]:
nombre = 1500
print(nombre)
nombre = nombre + 1  # ajoute 1 à la valeur contenue dans la variable nombre
print(nombre)

1500
1501

La méthode ci-dessous aboutit au même résultat, en simplifiant l'écriture :

In [42]:
nombre = 99
print(nombre)
nombre += 1
print(nombre)

99
100

# Collections

## Listes

Les listes permettent de stocker plusieurs éléments de n'importe quel type. Ces éléments peuvent avoir les mêmes valeurs.

In [43]:
L = [53, True, 53, "J'aime bien le caramel, pas toi ?"]
print(L)

[53, True, 53, "J'aime bien le caramel, pas toi ?"]

In [44]:
list((1, 2, 3, "Le chocolat n'est pas mal non plus !"))  # crée une liste à partir des éléments donnés

[1, 2, 3, "Le chocolat n'est pas mal non plus !"]

Tu peux les manipuler aisément :

In [45]:
L[0]  # récupère le premier élément

53

In [46]:
L[-1]  # récupère le dernier élément

"J'aime bien le caramel, pas toi ?"

In [47]:
len(L)

4

Il existe plusieurs moyens d'ajouter un élément à la fin d'une liste :

In [48]:
L += ["Un petit message de plus !"]
print(L)

[53, True, 53, "J'aime bien le caramel, pas toi ?", 'Un petit message de plus !']

In [49]:
L.append(7456)
print(L)

[53, True, 53, "J'aime bien le caramel, pas toi ?", 'Un petit message de plus !', 7456]

Tu peux aussi ajouter un élément à un endroit précis.

In [50]:
L.insert(0, "Le commencement")  # ajoute "le commencement" en première position
print(L)

['Le commencement', 53, True, 53, "J'aime bien le caramel, pas toi ?", 'Un petit message de plus !', 7456]

Si tu veux cette fois supprimer un élément, tu peux utiliser **pop**, qui va supprimer l'élément à l'indice donné et le retourner.

In [51]:
L.pop(0)

'Le commencement'

In [52]:
print(L)

[53, True, 53, "J'aime bien le caramel, pas toi ?", 'Un petit message de plus !', 7456]

Si tu ne lui donnes pas d'argument, pop supprime le dernier de la liste.

In [53]:
L.pop()

7456

In [54]:
print(L)

[53, True, 53, "J'aime bien le caramel, pas toi ?", 'Un petit message de plus !']

Tu peux aussi obtenir des listes en additionnant d'autres listes :

In [55]:
["un", "deux", "trois"] + ["quatre", "cinq"]

['un', 'deux', 'trois', 'quatre', 'cinq']

Il est possible de vérifier si des éléments sont présents dans une liste en utilisant **in** :

In [56]:
exemple = [1, 2, 3, 4, 5, 6, 7, 8]
2 in exemple

True

In [57]:
50 in exemple  # cette valeur n'est pas dans la liste exemple

False

Il est possible de diviser une chaîne de caractères en une liste :

In [58]:
chaine = "Les rhododendrons sont mes fleurs préférées"
liste = chaine.split()
print(liste)

['Les', 'rhododendrons', 'sont', 'mes', 'fleurs', 'préférées']

Sans paramètres, la séparation se fait à chaque espace. Tu peux aussi choisir à quel endroit couper ta chaîne.

In [59]:
chaine = "En vérité, j'aime aussi beaucoup les myosotis, sans vraiment me l'avouer."
liste = chaine.split(",")  # le délimiteur est la virgule
print(liste)

['En vérité', " j'aime aussi beaucoup les myosotis", " sans vraiment me l'avouer."]

En faisant une séparation à "," les espaces après la virgule sont conservés. Si tu veux t'en débarrasser, il est préférable de choisir ", " en séparation. Regarde cet exemple : c'est plus joli, non ?

In [60]:
chaine = "Le langage des fleurs, je l'ai appris, ne ment jamais"
liste = chaine.split(", ")
print(liste)

['Le langage des fleurs', "je l'ai appris", 'ne ment jamais']

### Pour aller plus loin

Cette section est un peu plus avancée que les précédentes, et portera sur ce qu'on appelle des **tranches**. Il s'agit de *couper* une liste en ne conservant que les éléments qui nous intéressent.
Si tu veux accéder à une petite partie de la liste, mais pas l'intégralité, voici une méthode intéressante :

In [61]:
nombres = [0, 1, 2, 3, 4, 5, 6, 7]
print(nombres[1:])  # affiche toute la liste, sauf le premier élément

[1, 2, 3, 4, 5, 6, 7]

In [62]:
print(nombres[:-1])  # affiche toute la liste, sauf le dernier élément

[0, 1, 2, 3, 4, 5, 6]

In [63]:
print(nombres[2:5])  # affiche les éléments compris entre les positions 2 (inclus) et 5 (exclus)

[2, 3, 4]

## Tuples

Ce nom est étrange, mais pas de panique, tout va bien se passer. Un tuple est un peu comme une liste qu'on ne peut pas modifier. Une fois qu'une valeur est ajoutée à un tuple, elle y reste et ne peut plus changer. On les crée de cette manière :

In [64]:
glaces = ("chocolat", "fraise", "vanille")
print(glaces)

('chocolat', 'fraise', 'vanille')

Envie d'aller plus loin ?

In [65]:
(a, b, c) = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3

In [66]:
a, b, c = 1, 2, 3  # les parenthèses sont optionnelles !
print(a)
print(b)
print(c)

1
2
3

L'accès aux éléments est très semblables aux listes ! Reprenons notre tuple contenant des parfums de glace :

In [67]:
glaces[0]

'chocolat'

In [68]:
glaces[0:2]

('chocolat', 'fraise')

Comme tu peux le voir ici, modifier un élément se passe ***très*** mal.

In [69]:
glaces[0] = 'framboise'

TypeError: 'tuple' object does not support item assignment

Quelques opérations sur les tuples :

In [70]:
'vanille' in glaces

True

In [71]:
len(glaces)

3

In [72]:
glaces + ("caramel", "citron")

('chocolat', 'fraise', 'vanille', 'caramel', 'citron')

## Ensembles

Les ensembles sont très similaires aux listes, à la différence près que chaque valeur est unique. Ils se construisent de cette manière :

In [73]:
ensemble = {1, 2, 3, "un", "deux", "trois"}
print(ensemble)

{1, 2, 3, 'trois', 'un', 'deux'}

Si des valeurs sont présentes deux fois, elles sont supprimées.

In [74]:
ensemble = {1, 2, 3, 1, 2, 3}
print(ensemble)

{1, 2, 3}

Différentes opérations sont possibles :

In [75]:
{1, 2, 3} | {3, 4, 5}  # les deux sets sont réunis en un seul en supprimant les parties communes

{1, 2, 3, 4, 5}

In [76]:
{1, 2, 3} - {2, 3}  # cet opérateur crée un set qui est constitué du premier set sans les éléments du deuxième

{1}

In [77]:
42 in {40, 41, 43}

False

## Dictionnaires

Une dictionnaire est un ensemble qui associe à chaque élément une **clé** unique.

In [78]:
dictionnaire = {"un":1, "deux":2, "trois":3}

Ici, par exemple, "un" est la clé associée à la valeur 1. On peut accéder à cette valeur de cette manière :

In [79]:
dictionnaire["un"]

1

L'inconvénient avec cette méthode est que si la clé n'existe pas, on obtient une erreur. Regardons cela :

In [80]:
dictionnaire["quatre"]

KeyError: 'quatre'

Pour éviter cela, la méthode **get** existe. Elle a l'avantage de nous permettre de donner un autre argument, qui sera renvoyé en cas d'erreur. Pour mieux visualiser ça, voici quelques exemples :

In [81]:
dictionnaire.get("deux")  # renvoie le même résultat que dictionnaire["deux"]

2

In [82]:
dictionnaire.get("quatre")  # ne renvoie rien car "quatre" n'est pas une clé présente dans le dictionnaire

In [83]:
# "quatre" n'est pas une clé du dictionnaire, la valeur affichée sera donc celle donnée au deuxième paramètre
dictionnaire.get("quatre", "Il n'y a pas cette valeur ici !")

"Il n'y a pas cette valeur ici !"

In [84]:
list(dictionnaire.keys())  # renvoie une liste des clés contenues dans le dictionnaire

['un', 'deux', 'trois']

In [85]:
list(dictionnaire.values())  # renvoie une liste des valeurs contenues dans le dictionnaire

[1, 2, 3]

In [86]:
list(dictionnaire.items())  # renvoie une liste des paires clé/valeur

[('un', 1), ('deux', 2), ('trois', 3)]

Pour modifier les valeurs d'un dictionnaire, différentes méthodes sont envisageables en fonction des besoins.

In [87]:
dictionnaire['six'] = 6  # ajoute une paire au dictionnaire
print(dictionnaire)

{'un': 1, 'deux': 2, 'trois': 3, 'six': 6}

In [88]:
dictionnaire.setdefault('trois', 42)  # si la clé existe déjà, ne fait rien
print(dictionnaire)

{'un': 1, 'deux': 2, 'trois': 3, 'six': 6}

In [89]:
dictionnaire.setdefault('quatre', 4)  # si la clé n'existe pas, l'ajoute
print(dictionnaire)

{'un': 1, 'deux': 2, 'trois': 3, 'six': 6, 'quatre': 4}

# Structures

## Conditions

Parfois, il est souhaitable de n'exécuter un morceau de code qu'à certaines conditions. Pour cela, on utilise différents mots-clés : **if**, **elif** et **else**.

In [90]:
valeur = 0

if valeur == 0:  # Cette condition est vraie, la ligne suivante sera affichée
    print("Il n'y a personne ici.")
elif valeur == 1:  # Cette condition est fausse, la ligne suivante ne sera pas affichée
    print("Je me sens un peu seul...")
else:  # une des conditions précédentes était vraie, nous n'avons pas besoin d'aller ici
    print("Plus on est de fous, plus on rit !")

Il n'y a personne ici.

In [91]:
valeur = 1

if valeur == 0:  # Cette condition est fausse, la ligne suivante ne sera pas affichée
    print("Il n'y a personne ici.")
elif valeur == 1:  # Cette condition est vraie, la ligne suivante sera affichée
    print("Je me sens un peu seul...")
else:  # une des conditions précédentes était vraie, nous n'avons pas besoin d'aller ici
    print("Plus on est de fous, plus on rit !")

Je me sens un peu seul...

In [92]:
valeur = 2000

if valeur == 0:  # Cette condition est fausse, la ligne suivante ne sera pas affichée
    print("Il n'y a personne ici.")
elif valeur == 1: # Cette condition est fausse, la ligne suivante ne sera pas affichée
    print("Je me sens un peu seul...")
else:  # aucune des conditions précédentes n'était vraie, la ligne suivante sera donc affichée
    print("Plus on est de fous, plus on rit !")

Plus on est de fous, plus on rit !

## Boucles

Parfois, il est utile de pouvoir exécuter du code plusieurs fois d'affilée. Par exemple, pour afficher tous les nombres de 1 à 10, ce serait bien de ne pas avoir à écrire 10 lignes différentes. C'est à ça que sert le mot-clé **while**.

In [93]:
valeur = 1
while valeur <= 10:  # condition : tant que valeur est inférieur à 10, on ne s'arrête pas
    print(valeur)
    valeur += 1

1
2
3
4
5
6
7
8
9
10

Il est aussi possible d'utiliser le mot-clé **for** :

In [94]:
# crée une variable valeur à laquelle on ajoute 1 à chaque tour de boucle
for valeur in range(5):  # valeur commencera à 0 et montera jusqu'à atteindre la valeur 4 (5 est exclus)
    print(valeur)

0
1
2
3
4

In [95]:
for valeur in range(1, 5):  # ici, valeur commence à 1 au lieu de 0
    print(valeur)

1
2
3
4

Il est aussi possible de parcourir une liste avec une boucle for:

In [96]:
for animal in ["chien", "chat", "perroquet", "poney", "tortue"]:
    print(animal)

chien
chat
perroquet
poney
tortue

In [97]:
# autre exemple avec une variable
desserts = ["tarte", "fruits", "crumble", "gaufres"]
for d in desserts:
    print(d)

tarte
fruits
crumble
gaufres

# Fonctions

Il arrive qu'on ait envie de réutiliser plusieurs fois les mêmes quelques lignes de code. Pour éviter de les réecrire, on peut leur donner un nom, un peu comme une variable. Cela s'appelle une fonction.

Par exemple :

In [98]:
def ma_fonction():  # création de la fonction
    print("Je suis un gentil serpent ! Je m'appelle Tanguy !")

Pour l'utiliser, on peut l'appeler de cette manière :

In [99]:
ma_fonction()

Je suis un gentil serpent ! Je m'appelle Tanguy !

C'est déjà plutôt bien ! Les fonctions peuvent aussi prendre des paramètres de n'importe quel type :

In [100]:
def ma_deuxième_fonction(nom):
    print("Heureuse de te rencontrer ! Mon nom est " + nom + " !")
    
ma_deuxième_fonction("Maya")

Heureuse de te rencontrer ! Mon nom est Maya !

Si on change le paramètre lors de l'appel, ce qui est affiché changera aussi.

In [101]:
ma_deuxième_fonction("Julie")

Heureuse de te rencontrer ! Mon nom est Julie !

Il est souvent utile de pouvoir récupérer le résultat d'une fonction, surtout si on y fait des opérations ou des modifications de variable. Pour cela, le mot-clé **return** est très utile !

In [102]:
def plus_dix(entier):
    entier += 10
    return entier

In [103]:
valeur = plus_dix(10)  # on peut stocker le résultat d'une fonction dans une variable !
print(valeur)

20

# Notions avancées

Ces notions sont un peu plus difficiles à appréhender. Nous te conseillons d'abord de bien t'entraîner à maîtriser les précédentes.

## Importer des bibliothèques

C'est bien beau de s'amuser à écrire des programmes, mais il n'est pas nécessaire de réinventer la roue à chaque fois. Il existe des *bibliothèques*, qui sont un regroupement de fonctions qui peuvent être utiles dans des cas particuliers. Pour utiliser ces bibilothèques, il faut d'abord les importer. En utilisant le mot **as**, il est possible de renommer la bibliothèque pour lui donner le nom que l'on désire. Supposons que nous voulions calculer une racine carrée. La bibliothèque math est toute indiquée pour nous aider.

In [104]:
import math as m

La ligne précédente a permis d'importer l'intégralité de la bibliothèque math sous le nom m. On peut désormais utiliser les fonctions qu'elle contient.

In [105]:
m.sqrt(16)  # donne la racine carrée de 16

4.0

L'inconvénient, c'est qu'on a pris la totalité de math, alors que nous avions juste besoin de la fonction sqrt. Pour ne récupérer que la fonction qu'on veut, il faut procéder comme ça :

In [106]:
from math import sqrt

Désormais, tu peux faire ça :

In [107]:
sqrt(16)

4.0

## Classes

Les classes sont un moyen très utile de regrouper un ensemble de données et fonctionnalités sous le même nom. Il s'agit en quelque sorte d'un modèle qui va servir de base pour la création d'**objets**. Un exemple valant mieux que mille discours :

In [108]:
class Humain:  # définition de la classe, le *modèle*
    
    # il s'agit d'un contructeur : c'est lui qui va être appelé à chaque fois qu'un objet Humain est créé
    def __init__(self, nom, age, taille):  # self représente l'objet en lui-même
        self.nom = nom
        self.age = age
        self.taille = taille

self.nom, self.age et self.taille sont appelés des **attributs**. Créons un objet de type Humain et regardons ses attributs :

In [109]:
joseph = Humain("Joseph", 18, 175)

On vient de créer un humain dont le nom est Joseph, qui a 18 ans et mesure 175 cm.

In [110]:
print(joseph.nom)  # on peut accéder aux attributs de cette manière
print(joseph.age)

Joseph
18

In [111]:
joseph.age += 1  # il est possible de les modifier
print(joseph.age)

19

Vérifions le type de notre variable joseph :

In [112]:
type(joseph)  # on voit que joseph est issu de la classe Humain

__main__.Humain

Pour vérifier qu'un objet appartient bien à une classe donnée, tu peux utiliser quelque chose de très pratique qui s'appelle **isinstance**.

In [113]:
isinstance(joseph, Humain)  # vérifie que joseph appartient bien à la classe Humain

True

In [114]:
isinstance(42, int)  # cela marche aussi avec les types de base !

True

In [115]:
isinstance("Ceci est une chaîne de caractères !", int)

False

Voici un petit résumé des noms de classe de types de bases, que tu peux t'amuser à tester :

- **int** pour les entiers
- **float** pour les nombres décimaux
- **str** pour les chaînes de caractères
- **list** pour les listes
- **dict** pour les dictionnaires
- **tuple** pour les tuples
- **set** pour les ensembles

Les classes peuvent aussi contenir un équivalent des fonctions, que l'on appelle **méthode**. Reprenons notre classe Humain :

In [116]:
class Humain:
    
    def __init__(self, nom, age, taille):
        self.nom = nom
        self.age = age
        self.taille = taille
    
    # ceci est une méthode
    def presentation(self):
        print("Mon nom est " + self.nom + " !")
        
    # ceci est aussi une méthode
    def anniversaire(self):
        self.age += 1

In [117]:
viviane = Humain("Viviane", 20, 170)
viviane.presentation()

Mon nom est Viviane !

In [118]:
print(viviane.age)
viviane.anniversaire()
print(viviane.age)

20
21

Ce document a été rédigé par: `Maya Hannachi <maya.hannachi@prologin.org>`